$input_button-width: 80px;

.input {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    @include clearfix;

    &__button,
    &__input {
        box-sizing: border-box;
        float: left;
        padding: 10px;
        border: none;
    }
    &__button {
        width: $input_button-width;
        background: $color-lighter-blue;
        color: $color-font-light;
        text-transform: uppercase;
        font-weight: $font-bold;
    }
    &__input {
        width: calc(100% - #{$input_button-width});
    }
}
