// Colours
$color-grey: #a9a9a9;
$color-blue: #00233e;
$color-lighter-blue: #008b8c;

$color-font: #000;
$color-font-light: #fff;

// Fonts
$font-stack: "Verdana", "Tahoma", sans-serif;
$font-weight-normal: 400;
$font-bold: 700;
