.user_list {
    max-width: 30%;
    background: #a9a9a9;
    box-sizing: border-box;
    padding: 10px;

    .search_box {
        width: 100%;
        margin-bottom: 15px;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    
        &__button,
        &__input {
            box-sizing: border-box;
            float: left;
            padding: 10px;
            border: none;
        }
        &__button {
            width: 80px;
            background: #008b8c;
            color: #fff;
            text-transform: uppercase;
            font-weight: 800;
        }
        &__input {
            width: calc(100% - 80px);
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    
        li {
            box-sizing: border-box;
            padding: 10px 15px;
            background: #00233e;
            font-weight: 800;
            color: #eee;
            margin: 3px 0; 
        }
    }
}
