.users {
    max-width: 30%;
    background: $color-grey;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;

    &__list {
        padding: 0;
        margin: 15px 0 0;
        list-style: none;

        &:empty {
            margin-top: 0;
        }    
        li {
            box-sizing: border-box;
            padding: 10px 15px;
            background: $color-blue;
            font-weight: $font-bold;
            color: $color-font-light;
            margin: 3px 0; 
            position: relative;
            overflow: hidden;

            &::after {
                transition: .3s all;
                font-weight: $font-weight-normal;
                // Special char: http://www.fileformat.info/info/unicode/char/2716/index.htm
                content: "\2716";
                // -- Too long verb fix
                position: absolute;
                right: 0;
                top: 0;
                padding: 10px;
                box-sizing: border-box;
                background: $color-blue;
                color: $color-font-light;
                display: block;
                opacity: 0;
            }
            &:hover::after {
                opacity: 1;
            }
        }
    }
}
