.listElement {
    box-sizing: border-box;
    padding: 10px 15px;
    background: $color-blue;
    font-weight: $font-bold;
    color: $color-font-light;
    margin: 3px 0; 
    position: relative;
    overflow: hidden;

    @media screen {
        &::after {
            transition: .3s all;
            font-weight: $font-weight-normal;
            // Special char: http://www.fileformat.info/info/unicode/char/2716/index.htm
            content: "\2716";
            // -- Folowing lines provide before too long word overflowing
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
            box-sizing: border-box;
            background: $color-blue;
            color: $color-font-light;
            display: block;
            opacity: 0;
        }
        &:hover::after,
        &:focus::after,
        body.touch &::after {
            opacity: 1;
        }
    }
}
